In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

date = datetime.now().strftime('%Y%m%d')

df = pd.read_excel('Day 91.xlsx', sheet_name=['Raw Data', 'Create Lead', 'Create Lead - Exception', 'Create Opp', 'Create Opp - Exception','Reassign Opp'])
df_leads = df.get('Create Lead')
df_leadserror = df.get('Create Lead - Exception')
df_newopps = df.get('Create Opp')
df_newoppserror = df.get('Create Opp - Exception')
df_existingopps = df.get('Reassign Opp')

df_reps = pd.read_csv('RepList.csv')
rep_names = df_reps["Name"]
rep_territory_dict = dict(zip(df_reps.Name, df_reps.Bucket))
rep_id_dict = dict(zip(df_reps.Name, df_reps.ID))

In [2]:
df_leads['rep'] = None

In [3]:
def setterritory(df_leads):
    if df_leads['fmcsa_trucks'] > 40: return "40+"
    elif df_leads['state'] == 'AZ' and df_leads['fmcsa_trucks'] <= 9: return "AZ 1-9"
    elif df_leads['state'] == 'AZ' and (df_leads['fmcsa_trucks'] > 9 and df_leads['fmcsa_trucks'] < 26): return "AZ 10-25"
    elif df_leads['state'] == 'AZ' and (df_leads['fmcsa_trucks'] > 25 and df_leads['fmcsa_trucks'] < 41): return "AZ 26-40"
    elif df_leads['state'] == 'IL' and df_leads['fmcsa_trucks'] <= 9: return "IL 1-9"
    elif df_leads['state'] == 'IL' and (df_leads['fmcsa_trucks'] > 9 and df_leads['fmcsa_trucks'] < 26): return "IL 10-25"
    elif df_leads['state'] == 'IL' and (df_leads['fmcsa_trucks'] > 25 and df_leads['fmcsa_trucks'] < 41): return "IL 26-40"
    elif df_leads['state'] == 'GA' and df_leads['fmcsa_trucks'] <= 9: return "GA 1-9"
    elif df_leads['state'] == 'GA' and (df_leads['fmcsa_trucks'] > 9 and df_leads['fmcsa_trucks'] < 26): return "GA 10-25"
    elif df_leads['state'] == 'GA' and (df_leads['fmcsa_trucks'] > 25 and df_leads['fmcsa_trucks'] < 41): return "GA 26-40"
    elif df_leads['state'] == 'TN' and df_leads['fmcsa_trucks'] <= 9: return "TN 1-9"
    elif df_leads['state'] == 'TN' and (df_leads['fmcsa_trucks'] > 9 and df_leads['fmcsa_trucks'] < 26): return "TN 10-25"
    elif df_leads['state'] == 'TN' and (df_leads['fmcsa_trucks'] > 25 and df_leads['fmcsa_trucks'] < 41): return "TN 26-40"
    elif df_leads['state'] == 'TX' and df_leads['fmcsa_trucks'] <= 9: return "TX 1-9"
    elif df_leads['state'] == 'TX' and (df_leads['fmcsa_trucks'] > 9 and df_leads['fmcsa_trucks'] < 26): return "TX 10-25"
    elif df_leads['state'] == 'TX' and (df_leads['fmcsa_trucks'] > 25 and df_leads['fmcsa_trucks'] < 41): return "TX 26-40"
    elif df_leads['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and df_leads['fmcsa_trucks'] <= 9: return "NR 1-9"
    elif df_leads['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_leads['fmcsa_trucks'] > 9 and df_leads['fmcsa_trucks'] < 26): return "NR 10-25"
    elif df_leads['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_leads['fmcsa_trucks'] > 25 and df_leads['fmcsa_trucks'] < 41): return "NR 26-40"
    else: return "not processed"

In [4]:
df_leads['bucket'] = df_leads.apply(setterritory, axis=1)

In [5]:
repdict = {'AZ 1-9': ['Brandon Homan'], 
           'GA 1-9': ['Gustavo Marquez', 'Junior Robert', 'Rosana Aboytes'], 
           'IL 1-9': ['Joe Knudson', 'Justin Wold', 'Rosana Aboytes'],
           'NR 1-9': ['Adam Capps', 'Adris Veney', 'Amanda Breting', 'August Ripley', 'Austin Hicks', 'Dalton Graves', 'Ethan Warren', 'Jacob Peterson', 'Jed Kent', 'Jonathan Motyka', 'Justin Bilombele', 'Nagi Williams', 'Tony Lee', 'Wade Hyatt'],
           'TN 1-9': ['Ryan Wendt'],
           'TX 1-9': ['Maria Contin Garcia', 'TJ Thompson'],
           'AZ 10-25': ['Emily Kamm'],
           'GA 10-25': ['Holden Stallbaumer'],
           'IL 10-25': ['Connor Sacks', 'Richard Azunna-Iwuh'],
           'NR 10-25': ['Dylan Curry', 'Ethan Sageser', 'Nolan McCall', 'Robbie Genau', 'Tony Vitale'],
           'TN 10-25': ['Cole Theodoropoulos'],
           'TX 10-25': ['Landry Brewton'],
           'AZ 26-40': ['Emily Kamm'],
           'GA 26-40': ['Holden Stallbaumer'],
           'IL 26-40': ['Ashli Hill'],
           'NR 26-40': ['Jacob Douglas', 'Lucas Deegan', 'Seth Holman'],
           'TN 26-40': ['Jon Kiger'],
           'TX 26-40': ['Landry Brewton'],
           '40+': ['Matt Bernard']
          }

In [6]:
# Iterate over the keys in the dictionary 
for bucket, values in repdict.items(): 
    # Get the row index where the key is present in the 'key' column 
    row_index = np.where(df_leads['bucket'] == bucket)
    value_num = 0
    for rowi in row_index[0]:
# Assign one of the values from the value list in the dictionary to the 'value' column at the row index 

        df_leads.iloc[rowi, 19] = values[value_num]
    
        if len(values) == value_num + 1:
            value_num = 0
        else:
            value_num +=1

In [7]:
df_leads['Contact Attempted'] = "No"
df_leads['Lead Status'] = "New"
df_leads['Campaign'] = "7013x000002LHUAAA4"
df_leads['Topic of Interest'] = "RTS Carrier Services"
df_leads['Lead Record Type'] = "0121H000001a2ShQAI"

In [8]:
df_leads['repid'] = df_leads['rep'].map(rep_id_dict)
df_leads = df_leads[df_leads.fmcsa_trucks < 250]

In [9]:
df_leads.to_csv(f'{date}-Day91Leads.csv',index=False)

In [10]:
df2 = df_leads.groupby(['rep'])['repid'].count().reset_index()
print(df2)

                    rep  repid
0            Adam Capps     14
1           Adris Veney     14
2        Amanda Breting     14
3         August Ripley     14
4          Austin Hicks     14
5         Brandon Homan      9
6          Connor Sacks      1
7         Dalton Graves     14
8           Dylan Curry      2
9         Ethan Sageser      2
10         Ethan Warren     14
11      Gustavo Marquez      9
12        Jacob Douglas      1
13       Jacob Peterson     14
14             Jed Kent     14
15          Joe Knudson      3
16      Jonathan Motyka     14
17        Junior Robert      9
18     Justin Bilombele     13
19          Justin Wold      3
20       Landry Brewton      1
21         Lucas Deegan      1
22  Maria Contin Garcia     14
23         Matt Bernard      3
24        Nagi Williams     13
25         Nolan McCall      2
26  Richard Azunna-Iwuh      1
27         Robbie Genau      1
28       Rosana Aboytes     10
29           Ryan Wendt      8
30          TJ Thompson     14
31             Tony Lee     13
32          Tony Vitale      1
33           Wade Hyatt     13

In [11]:
df_newopps['rep'] = None

In [12]:
def setterritory(df_newopps):
    if df_newopps['fmcsa_trucks'] > 40: return "40+"
    elif df_newopps['state'] == 'AZ' and df_newopps['fmcsa_trucks'] <= 9: return "AZ 1-9"
    elif df_newopps['state'] == 'AZ' and (df_newopps['fmcsa_trucks'] > 9 and df_newopps['fmcsa_trucks'] < 26): return "AZ 10-25"
    elif df_newopps['state'] == 'AZ' and (df_newopps['fmcsa_trucks'] > 25 and df_newopps['fmcsa_trucks'] < 41): return "AZ 26-40"
    elif df_newopps['state'] == 'IL' and df_newopps['fmcsa_trucks'] <= 9: return "IL 1-9"
    elif df_newopps['state'] == 'IL' and (df_newopps['fmcsa_trucks'] > 9 and df_newopps['fmcsa_trucks'] < 26): return "IL 10-25"
    elif df_newopps['state'] == 'IL' and (df_newopps['fmcsa_trucks'] > 25 and df_newopps['fmcsa_trucks'] < 41): return "IL 26-40"
    elif df_newopps['state'] == 'GA' and df_newopps['fmcsa_trucks'] <= 9: return "GA 1-9"
    elif df_newopps['state'] == 'GA' and (df_newopps['fmcsa_trucks'] > 9 and df_newopps['fmcsa_trucks'] < 26): return "GA 10-25"
    elif df_newopps['state'] == 'GA' and (df_newopps['fmcsa_trucks'] > 25 and df_newopps['fmcsa_trucks'] < 41): return "GA 26-40"
    elif df_newopps['state'] == 'TN' and df_newopps['fmcsa_trucks'] <= 9: return "TN 1-9"
    elif df_newopps['state'] == 'TN' and (df_newopps['fmcsa_trucks'] > 9 and df_newopps['fmcsa_trucks'] < 26): return "TN 10-25"
    elif df_newopps['state'] == 'TN' and (df_newopps['fmcsa_trucks'] > 25 and df_newopps['fmcsa_trucks'] < 41): return "TN 26-40"
    elif df_newopps['state'] == 'TX' and df_newopps['fmcsa_trucks'] <= 9: return "TX 1-9"
    elif df_newopps['state'] == 'TX' and (df_newopps['fmcsa_trucks'] > 9 and df_newopps['fmcsa_trucks'] < 26): return "TX 10-25"
    elif df_newopps['state'] == 'TX' and (df_newopps['fmcsa_trucks'] > 25 and df_newopps['fmcsa_trucks'] < 41): return "TX 26-40"
    elif df_newopps['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and df_newopps['fmcsa_trucks'] <= 9: return "NR 1-9"
    elif df_newopps['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_newopps['fmcsa_trucks'] > 9 and df_newopps['fmcsa_trucks'] < 26): return "NR 10-25"
    elif df_newopps['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_newopps['fmcsa_trucks'] > 25 and df_newopps['fmcsa_trucks'] < 41): return "NR 26-40"
    else: return "not processed"

In [13]:
df_newopps['bucket'] = df_newopps.apply(setterritory, axis=1)

In [14]:
# Iterate over the keys in the dictionary 
for bucket, values in repdict.items(): 
    # Get the row index where the key is present in the 'key' column 
    row_index = np.where(df_newopps['bucket'] == bucket)
    value_num = 0
    for rowi in row_index[0]:
# Assign one of the values from the value list in the dictionary to the 'value' column at the row index 

        df_newopps.iloc[rowi, 19] = values[value_num]
    
        if len(values) == value_num + 1:
            value_num = 0
        else:
            value_num +=1

In [15]:
df_newopps['Close Date'] = "6/6/2023"
df_newopps['Primary Source Campaign ID'] = "7013x000002LHUAAA4"
df_newopps['Opportunity Type'] = "RTSCS"
df_newopps['RecordTypeId'] = "0123x000001dXL2AAM"
df_newopps['StageName'] = "Open"

In [16]:
df_newopps['repid'] = df_newopps['rep'].map(rep_id_dict)
df_newopps = df_newopps[df_newopps.fmcsa_trucks < 250]

In [17]:
df_newopps.to_csv(f'{date}-Day91NewOpps.csv',index=False)

In [18]:
df_existingopps['rep'] = None

In [19]:
def setterritory(df_existingopps):
    if df_existingopps['fmcsa_trucks'] > 40: return "40+"
    elif df_existingopps['state'] == 'AZ' and df_existingopps['fmcsa_trucks'] <= 9: return "AZ 1-9"
    elif df_existingopps['state'] == 'AZ' and (df_existingopps['fmcsa_trucks'] > 9 and df_existingopps['fmcsa_trucks'] < 26): return "AZ 10-25"
    elif df_existingopps['state'] == 'AZ' and (df_existingopps['fmcsa_trucks'] > 25 and df_existingopps['fmcsa_trucks'] < 41): return "AZ 26-40"
    elif df_existingopps['state'] == 'IL' and df_existingopps['fmcsa_trucks'] <= 9: return "IL 1-9"
    elif df_existingopps['state'] == 'IL' and (df_existingopps['fmcsa_trucks'] > 9 and df_existingopps['fmcsa_trucks'] < 26): return "IL 10-25"
    elif df_existingopps['state'] == 'IL' and (df_existingopps['fmcsa_trucks'] > 25 and df_existingopps['fmcsa_trucks'] < 41): return "IL 26-40"
    elif df_existingopps['state'] == 'GA' and df_existingopps['fmcsa_trucks'] <= 9: return "GA 1-9"
    elif df_existingopps['state'] == 'GA' and (df_existingopps['fmcsa_trucks'] > 9 and df_existingopps['fmcsa_trucks'] < 26): return "GA 10-25"
    elif df_existingopps['state'] == 'GA' and (df_existingopps['fmcsa_trucks'] > 25 and df_existingopps['fmcsa_trucks'] < 41): return "GA 26-40"
    elif df_existingopps['state'] == 'TN' and df_existingopps['fmcsa_trucks'] <= 9: return "TN 1-9"
    elif df_existingopps['state'] == 'TN' and (df_existingopps['fmcsa_trucks'] > 9 and df_existingopps['fmcsa_trucks'] < 26): return "TN 10-25"
    elif df_existingopps['state'] == 'TN' and (df_existingopps['fmcsa_trucks'] > 25 and df_existingopps['fmcsa_trucks'] < 41): return "TN 26-40"
    elif df_existingopps['state'] == 'TX' and df_existingopps['fmcsa_trucks'] <= 9: return "TX 1-9"
    elif df_existingopps['state'] == 'TX' and (df_existingopps['fmcsa_trucks'] > 9 and df_existingopps['fmcsa_trucks'] < 26): return "TX 10-25"
    elif df_existingopps['state'] == 'TX' and (df_existingopps['fmcsa_trucks'] > 25 and df_existingopps['fmcsa_trucks'] < 41): return "TX 26-40"
    elif df_existingopps['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and df_existingopps['fmcsa_trucks'] <= 9: return "NR 1-9"
    elif df_existingopps['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_existingopps['fmcsa_trucks'] > 9 and df_existingopps['fmcsa_trucks'] < 26): return "NR 10-25"
    elif df_existingopps['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_existingopps['fmcsa_trucks'] > 25 and df_existingopps['fmcsa_trucks'] < 41): return "NR 26-40"
    else: return "not processed"

In [20]:
df_existingopps['bucket'] = df_existingopps.apply(setterritory, axis=1)

In [21]:
# Iterate over the keys in the dictionary 
for bucket, values in repdict.items(): 
    # Get the row index where the key is present in the 'key' column 
    row_index = np.where(df_existingopps['bucket'] == bucket)
    value_num = 0
    for rowi in row_index[0]:
# Assign one of the values from the value list in the dictionary to the 'value' column at the row index 

        df_existingopps.iloc[rowi, 19] = values[value_num]
    
        if len(values) == value_num + 1:
            value_num = 0
        else:
            value_num +=1

In [22]:
df_existingopps['Primary Source Campaign ID'] = "7013x000002LHUAAA4"

In [23]:
df_existingopps['repid'] = df_existingopps['rep'].map(rep_id_dict)
df_existingopps = df_existingopps[df_existingopps.fmcsa_trucks < 250]

In [24]:
df_existingopps.to_csv(f'{date}-Day91ReassignOpps.csv',index=False)

In [25]:
df_newoppserror['rep'] = None

In [26]:
def setterritory(df_newoppserror):
    if df_newoppserror['fmcsa_trucks'] > 40: return "40+"
    elif df_newoppserror['state'] == 'AZ' and df_newoppserror['fmcsa_trucks'] <= 9: return "AZ 1-9"
    elif df_newoppserror['state'] == 'AZ' and (df_newoppserror['fmcsa_trucks'] > 9 and df_newoppserror['fmcsa_trucks'] < 26): return "AZ 10-25"
    elif df_newoppserror['state'] == 'AZ' and (df_newoppserror['fmcsa_trucks'] > 25 and df_newoppserror['fmcsa_trucks'] < 41): return "AZ 26-40"
    elif df_newoppserror['state'] == 'IL' and df_newoppserror['fmcsa_trucks'] <= 9: return "IL 1-9"
    elif df_newoppserror['state'] == 'IL' and (df_newoppserror['fmcsa_trucks'] > 9 and df_newoppserror['fmcsa_trucks'] < 26): return "IL 10-25"
    elif df_newoppserror['state'] == 'IL' and (df_newoppserror['fmcsa_trucks'] > 25 and df_newoppserror['fmcsa_trucks'] < 41): return "IL 26-40"
    elif df_newoppserror['state'] == 'GA' and df_newoppserror['fmcsa_trucks'] <= 9: return "GA 1-9"
    elif df_newoppserror['state'] == 'GA' and (df_newoppserror['fmcsa_trucks'] > 9 and df_newoppserror['fmcsa_trucks'] < 26): return "GA 10-25"
    elif df_newoppserror['state'] == 'GA' and (df_newoppserror['fmcsa_trucks'] > 25 and df_newoppserror['fmcsa_trucks'] < 41): return "GA 26-40"
    elif df_newoppserror['state'] == 'TN' and df_newoppserror['fmcsa_trucks'] <= 9: return "TN 1-9"
    elif df_newoppserror['state'] == 'TN' and (df_newoppserror['fmcsa_trucks'] > 9 and df_newoppserror['fmcsa_trucks'] < 26): return "TN 10-25"
    elif df_newoppserror['state'] == 'TN' and (df_newoppserror['fmcsa_trucks'] > 25 and df_newoppserror['fmcsa_trucks'] < 41): return "TN 26-40"
    elif df_newoppserror['state'] == 'TX' and df_newoppserror['fmcsa_trucks'] <= 9: return "TX 1-9"
    elif df_newoppserror['state'] == 'TX' and (df_newoppserror['fmcsa_trucks'] > 9 and df_newoppserror['fmcsa_trucks'] < 26): return "TX 10-25"
    elif df_newoppserror['state'] == 'TX' and (df_newoppserror['fmcsa_trucks'] > 25 and df_newoppserror['fmcsa_trucks'] < 41): return "TX 26-40"
    elif df_newoppserror['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and df_newoppserror['fmcsa_trucks'] <= 9: return "NR 1-9"
    elif df_newoppserror['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_newoppserror['fmcsa_trucks'] > 9 and df_newoppserror['fmcsa_trucks'] < 26): return "NR 10-25"
    elif df_newoppserror['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_newoppserror['fmcsa_trucks'] > 25 and df_newoppserror['fmcsa_trucks'] < 41): return "NR 26-40"
    else: return "not processed"

In [27]:
df_newoppserror['bucket'] = df_newoppserror.apply(setterritory, axis=1)

In [28]:
# Iterate over the keys in the dictionary 
for bucket, values in repdict.items(): 
    # Get the row index where the key is present in the 'key' column 
    row_index = np.where(df_newoppserror['bucket'] == bucket)
    value_num = 0
    for rowi in row_index[0]:
# Assign one of the values from the value list in the dictionary to the 'value' column at the row index 

        df_newoppserror.iloc[rowi, 19] = values[value_num]
    
        if len(values) == value_num + 1:
            value_num = 0
        else:
            value_num +=1

In [29]:
df_newoppserror = df_newoppserror[df_newoppserror.fmcsa_trucks < 250]

In [30]:
df_leadserror['rep'] = None

In [31]:
def setterritory(df_leadserror):
    if df_leadserror['fmcsa_trucks'] > 40: return "40+"
    elif df_leadserror['state'] == 'AZ' and df_leadserror['fmcsa_trucks'] <= 9: return "AZ 1-9"
    elif df_leadserror['state'] == 'AZ' and (df_leadserror['fmcsa_trucks'] > 9 and df_leadserror['fmcsa_trucks'] < 26): return "AZ 10-25"
    elif df_leadserror['state'] == 'AZ' and (df_leadserror['fmcsa_trucks'] > 25 and df_leadserror['fmcsa_trucks'] < 41): return "AZ 26-40"
    elif df_leadserror['state'] == 'IL' and df_leadserror['fmcsa_trucks'] <= 9: return "IL 1-9"
    elif df_leadserror['state'] == 'IL' and (df_leadserror['fmcsa_trucks'] > 9 and df_leadserror['fmcsa_trucks'] < 26): return "IL 10-25"
    elif df_leadserror['state'] == 'IL' and (df_leadserror['fmcsa_trucks'] > 25 and df_leadserror['fmcsa_trucks'] < 41): return "IL 26-40"
    elif df_leadserror['state'] == 'GA' and df_leadserror['fmcsa_trucks'] <= 9: return "GA 1-9"
    elif df_leadserror['state'] == 'GA' and (df_leadserror['fmcsa_trucks'] > 9 and df_leadserror['fmcsa_trucks'] < 26): return "GA 10-25"
    elif df_leadserror['state'] == 'GA' and (df_leadserror['fmcsa_trucks'] > 25 and df_leadserror['fmcsa_trucks'] < 41): return "GA 26-40"
    elif df_leadserror['state'] == 'TN' and df_leadserror['fmcsa_trucks'] <= 9: return "TN 1-9"
    elif df_leadserror['state'] == 'TN' and (df_leadserror['fmcsa_trucks'] > 9 and df_leadserror['fmcsa_trucks'] < 26): return "TN 10-25"
    elif df_leadserror['state'] == 'TN' and (df_leadserror['fmcsa_trucks'] > 25 and df_leadserror['fmcsa_trucks'] < 41): return "TN 26-40"
    elif df_leadserror['state'] == 'TX' and df_leadserror['fmcsa_trucks'] <= 9: return "TX 1-9"
    elif df_leadserror['state'] == 'TX' and (df_leadserror['fmcsa_trucks'] > 9 and df_leadserror['fmcsa_trucks'] < 26): return "TX 10-25"
    elif df_leadserror['state'] == 'TX' and (df_leadserror['fmcsa_trucks'] > 25 and df_leadserror['fmcsa_trucks'] < 41): return "TX 26-40"
    elif df_leadserror['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and df_leadserror['fmcsa_trucks'] <= 9: return "NR 1-9"
    elif df_leadserror['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_leadserror['fmcsa_trucks'] > 9 and df_leadserror['fmcsa_trucks'] < 26): return "NR 10-25"
    elif df_leadserror['state'] not in ('AZ', 'GA', 'IL', 'TN' 'TX') and (df_leadserror['fmcsa_trucks'] > 25 and df_leadserror['fmcsa_trucks'] < 41): return "NR 26-40"
    else: return "not processed"

In [32]:
df_leadserror['bucket'] = df_leadserror.apply(setterritory, axis=1)

In [33]:
# Iterate over the keys in the dictionary 
for bucket, values in repdict.items(): 
    # Get the row index where the key is present in the 'key' column 
    row_index = np.where(df_leadserror['bucket'] == bucket)
    value_num = 0
    for rowi in row_index[0]:
# Assign one of the values from the value list in the dictionary to the 'value' column at the row index 

        df_leadserror.iloc[rowi, 19] = values[value_num]
    
        if len(values) == value_num + 1:
            value_num = 0
        else:
            value_num +=1

In [34]:
df_leadserror = df_leadserror[df_leadserror.fmcsa_trucks < 250]

In [35]:
with pd.ExcelWriter(f'{date}-Day91Errors.xlsx') as writer:
    df_leadserror.to_excel(writer, sheet_name='Leads',index=False)
    df_newoppserror.to_excel(writer, sheet_name='Opportunities',index=False)

In [36]:
df_successleads = pd.read_csv('Day91SuccessLeads.csv')

In [37]:
successleads = pd.merge(df_successleads, df_leads, left_on='PFJ_SF_NAME', right_on=["pfj_sf_name"])
successleads.drop('pfj_sf_name', axis=1, inplace=True)

print(successleads)

                    ID  NK_DOTNBR  STC_SF_ID  STC_CONTACT_ID  OPEN_CS_OPP_ID  \
0   00Q3x00001wC0X3EAK     140561        NaN             NaN             NaN
1   00Q3x00001wC0X4EAK    2465666        NaN             NaN             NaN
2   00Q3x00001wC0X5EAK     876929        NaN             NaN             NaN
3   00Q3x00001wC0X6EAK    1455547        NaN             NaN             NaN
4   00Q3x00001wC0X7EAK    3216336        NaN             NaN             NaN
5   00Q3x00001wC0XAEA0    1894365        NaN             NaN             NaN
6   00Q3x00001wC0XBEA0    3917084        NaN             NaN             NaN
7   00Q3x00001wC0XLEA0    3468925        NaN             NaN             NaN
8   00Q3x00001wC0XMEA0    3432350        NaN             NaN             NaN
9   00Q3x00001wC0XNEA0     923873        NaN             NaN             NaN
10  00Q3x00001wC0XOEA0    2110528        NaN             NaN             NaN
11  00Q3x00001wC0XPEA0     803850        NaN             NaN             NaN
12  00Q3x00001wC0XQEA0    3429954        NaN             NaN             NaN
13  00Q3x00001wC0XREA0    3012644        NaN             NaN             NaN
14  00Q3x00001wC0XSEA0    3473219        NaN             NaN             NaN
15  00Q3x00001wC0XZEA0    3396627        NaN             NaN             NaN
16  00Q3x00001wC0XaEAK    3511699        NaN             NaN             NaN
17  00Q3x00001wC0XbEAK    2867883        NaN             NaN             NaN
18  00Q3x00001wC0XcEAK     577691        NaN             NaN             NaN
19  00Q3x00001wC0XdEAK    3016160        NaN             NaN             NaN
20  00Q3x00001wC0XeEAK    3366886        NaN             NaN             NaN
21  00Q3x00001wC0XjEAK    3695332        NaN             NaN             NaN
22  00Q3x00001wC0XkEAK    3229551        NaN             NaN             NaN
23  00Q3x00001wC0XlEAK    1849245        NaN             NaN             NaN
24  00Q3x00001wC0XmEAK    3333184        NaN             NaN             NaN
25  00Q3x00001wC0XrEAK    2119368        NaN             NaN             NaN
26  00Q3x00001wC0XsEAK     563643        NaN             NaN             NaN

    CS_OPP_LAST_ACTIVITY  CS_OPP_OWNER  STC_SF_NAME  \
0                    NaN           NaN          NaN
1                    NaN           NaN          NaN
2                    NaN           NaN          NaN
3                    NaN           NaN          NaN
4                    NaN           NaN          NaN
5                    NaN           NaN          NaN
6                    NaN           NaN          NaN
7                    NaN           NaN          NaN
8                    NaN           NaN          NaN
9                    NaN           NaN          NaN
10                   NaN           NaN          NaN
11                   NaN           NaN          NaN
12                   NaN           NaN          NaN
13                   NaN           NaN          NaN
14                   NaN           NaN          NaN
15                   NaN           NaN          NaN
16                   NaN           NaN          NaN
17                   NaN           NaN          NaN
18                   NaN           NaN          NaN
19                   NaN           NaN          NaN
20                   NaN           NaN          NaN
21                   NaN           NaN          NaN
22                   NaN           NaN          NaN
23                   NaN           NaN          NaN
24                   NaN           NaN          NaN
25                   NaN           NaN          NaN
26                   NaN           NaN          NaN

                                 PFJ_SF_NAME STATE  ... last_nsf_date  \
0                HOMERS TOWING & SERVICE INC    WI  ...           NaT
1   WAGNER CONSTRUCTION LLC DBA 330 TRUCKING    OH  ...    2022-03-24
2                         PASCAL LESSARD INC    ME  ...           NaT
3                    CLAYWELL TRUCKING, INC.    FL  ...           NaT
4        5 KINGS 3 QUEENS TRANSPORTATION LLC    NC  ...           NaT
5                                RIO LEASING    MT  ...           NaT
6                     R&P TRANSPORTATION LLC    TX  ...           NaT
7                             GM EXPRESS LLC    IN  ...           NaT
8                           ROBERT ABACHERLI    NC  ...           NaT
9                            E1-TRUCKING LLC    GA  ...           NaT
10                       FORTUNE G LOGISTICS    CA  ...           NaT
11                  BILL ARNOLD TRUCKING INC    KY  ...           NaT
12                      BIG SAM SERVICES LLC    NE  ...           NaT
13               COMMERCIAL DRIVING PROS LLC    FL  ...    2021-08-04
14                 IMPERIAL EXPRESS LINE INC    PA  ...           NaT
15                                   THABTOM    TX  ...           NaT
16                        ANKO LOGISTICS LLC    MA  ...           NaT
17                         DOJ TRANSPORT LLC    VA  ...           NaT
18                           AKR ENTERPRISES    NE  ...           NaT
19                         BROADIS TRANSPORT    AZ  ...           NaT
20                        JTAA TRANSPORT LLC    RI  ...    2020-06-26
21        MABROOK TRANSPORTATION COMPANY LLC    MN  ...           NaT
22                    BILLY STAPLES TRUCKING    OK  ...           NaT
23                              JACOB PETERS    KS  ...           NaT
24             COVINGTON TRANSPORTATIONS LLC    FL  ...    2023-02-09
25                    MJ MICEK CONCRETE INC.    MN  ...           NaT
26                         WT TRUCKING, INC.    WY  ...           NaT

    action_item                  rep    bucket  Contact Attempted Lead Status  \
0   Create Lead          Dylan Curry  NR 10-25                 No         New
1   Create Lead         Nolan McCall  NR 10-25                 No         New
2   Create Lead        Nagi Williams    NR 1-9                 No         New
3   Create Lead           Adam Capps    NR 1-9                 No         New
4   Create Lead        Dalton Graves    NR 1-9                 No         New
5   Create Lead        August Ripley    NR 1-9                 No         New
6   Create Lead          TJ Thompson    TX 1-9                 No         New
7   Create Lead         Austin Hicks    NR 1-9                 No         New
8   Create Lead        Nagi Williams    NR 1-9                 No         New
9   Create Lead       Rosana Aboytes    GA 1-9                 No         New
10  Create Lead             Tony Lee    NR 1-9                 No         New
11  Create Lead          Adris Veney    NR 1-9                 No         New
12  Create Lead             Jed Kent    NR 1-9                 No         New
13  Create Lead        August Ripley    NR 1-9                 No         New
14  Create Lead             Jed Kent    NR 1-9                 No         New
15  Create Lead  Maria Contin Garcia    TX 1-9                 No         New
16  Create Lead         Austin Hicks    NR 1-9                 No         New
17  Create Lead       Jacob Peterson    NR 1-9                 No         New
18  Create Lead        Nagi Williams    NR 1-9                 No         New
19  Create Lead        Brandon Homan    AZ 1-9                 No         New
20  Create Lead     Justin Bilombele    NR 1-9                 No         New
21  Create Lead       Amanda Breting    NR 1-9                 No         New
22  Create Lead        August Ripley    NR 1-9                 No         New
23  Create Lead     Justin Bilombele    NR 1-9                 No         New
24  Create Lead          Adris Veney    NR 1-9                 No         New
25  Create Lead         Ethan Warren    NR 1-9                 No         New
26  Create Lead             Jed Kent    NR 1-9                 No         New

              Campaign     Topic of Interest    Lead Record Type  \
0   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
1   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
2   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
3   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
4   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
5   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
6   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
7   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
8   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
9   7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
10  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
11  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
12  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
13  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
14  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
15  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
16  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
17  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
18  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
19  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
20  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
21  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
22  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
23  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
24  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
25  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI
26  7013x000002LHUAAA4  RTS Carrier Services  0121H000001a2ShQAI

                 repid
0   0053x00000FRspfAAD
1   0051H00000AMyVsQAL
2   0053x00000GQstzAAD
3   0053x00000GQHesAAH
4   0053x00000GRCRbAAP
5   0053x00000GRjZJAA1
6   0053x00000GDHvFAAX
7   0053x00000GQVqaAAH
8   0053x00000GQstzAAD
9   0053x00000GQWCFAA5
10  0053x00000GRIgJAAX
11  0053x00000GSCcYAAX
12  0053x00000G7NwpAAF
13  0053x00000GRjZJAA1
14  0053x00000G7NwpAAF
15  0053x00000GRkcYAAT
16  0053x00000GQVqaAAH
17  0053x00000GRdAtAAL
18  0053x00000GQstzAAD
19  0053x00000GSCeDAAX
20  0053x00000GRq51AAD
21  0053x00000G73sOAAR
22  0053x00000GRjZJAA1
23  0053x00000GRq51AAD
24  0053x00000GSCcYAAX
25  0053x00000GSCcaAAH
26  0053x00000G7NwpAAF

[27 rows x 56 columns]

In [39]:
with pd.ExcelWriter(f'{date}-Day91Load.xlsx') as writer:
    successleads.to_excel(writer, sheet_name='Leads',index=False)
    df_newopps.to_excel(writer, sheet_name='New Opportunities',index=False)
    df_existingopps.to_excel(writer, sheet_name='Reassigned Opportunities',index=False)