In [ ]:
# https://spark.apache.org/docs/latest/api/python/getting_started/install.html

# PySpark installation using PyPI is as follows:

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=29a386f284b20f61188d9ce76e2987a28e385667b7b70e0f7d78bfbfa9587c7c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
# If you want to install extra TV dependencies for a specific component, you can install it as below:

# Spark SQL
pip install pyspark[sql]
# pandas API on Spark
pip install pyspark[pandas_on_spark] plotly  # to plot your data, you can install plotly together.
# Spark Connect
pip install pyspark[connect]

SyntaxError: invalid syntax (<ipython-input-5-10c22eb755a3>, line 4)

In [ ]:
from pyspark import SparkConf
from pyspark import SparkContext

In [ ]:
conf = SparkConf().setAppName('SparkRDD').setMaster('local')
sc = SparkContext(conf=conf)

In [ ]:
# PySpark parallelize() is a function in SparkContext and is used to create an RDD from a list collection
# RDDs in PySpark are a collection of partitions
# RDD is an immutable distributed collection of elements of your data, partitioned across nodes in your cluster that can be operated in parallel
# https://www.databricks.com/blog/2016/07/14/a-tale-of-three-apache-spark-apis-rdds-dataframes-and-datasets.html
# https://spark.apache.org/docs/latest//api/python/reference/api/pyspark.RDD.html
myRDD = sc.parallelize([('a',1), ('b', 2)])

In [ ]:
myRDD.take(5)

[('a', 1), ('b', 2)]

In [ ]:
myRDD.collect()

[('a', 1), ('b', 2)]

In [ ]:
# generator
for i in range(10):
    print(i, end="")

0123456789

In [ ]:
from operator import add
sc.parallelize([1,2,3,4,5]).reduce(add)

15

starting spark session below

In [ ]:
import pyspark

In [ ]:
import pandas as pd

In [ ]:
import os

In [ ]:
!ls

sample_data

In [ ]:
df_pandas = pd.read_csv('/content/sample_data/Agent States Check.csv')

In [ ]:
df_pandas

,call_date,state_time,tsr,sname,CallCenterID,agent_group,state_name,login_datetime,logout_datetime,Login_Event,duration
0,2024-03-08,00:00:00,edu_aayton,Andre Ayton,17,IA,Agent Reset,NaN,NaN,1,19578
1,2024-03-08,00:00:00,edu_apolanco,Ariel Polanco,17,IA,End Shift,NaN,NaN,1,17251
2,2024-03-08,00:00:00,edu_devwilliams,Devontay Williams,17,IA,Agent Reset,NaN,NaN,1,18631
3,2024-03-08,00:00:00,edu_dgarcia,Deborah Garcia,17,IA,Logout,NaN,NaN,1,18049
4,2024-03-08,00:00:00,edu_fdennis,Frank Dennis,17,IA,Agent Reset,NaN,NaN,1,18497
...,...,...,...,...,...,...,...,...,...,...,...
2517,2024-03-08,07:40:54,EGS_IA_lrendon,Lisset Rendon,70,LX_IA,Ringing,NaN,NaN,0,0
2518,2024-03-08,07:40:54,TS_EF_awright,Adam Wright,72,BPO_EF,Ready,NaN,NaN,0,3
2519,2024-03-08,07:40:55,edu_idabney,Indonesia Dabney,17,IA,Ready,NaN,NaN,0,0
2520,2024-03-08,07:40:55,TS_EF_nhill,Nathan Hill,72,BPO_EF,On Call,NaN,NaN,0,0
2521,2024-03-08,07:40:55,TS_EF_nhill,Nathan Hill,72,BPO_EF,Ringing,NaN,NaN,0,0

In [ ]:
type(df_pandas)

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('TestApp').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.option('header', 'true').csv('/content/sample_data/Agent States Check.csv')

In [ ]:
df_pyspark = spark.read.csv('/content/sample_data/Agent States Check.csv', header=True, inferSchema=True)

In [ ]:
df_pyspark.show(10)

+----------+----------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|state_time|            tsr|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+----------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|  00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|  00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|  00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|  00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|  00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|  00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|  00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|  00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|  00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|  00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
+----------+----------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
df_pyspark

DataFrame[call_date: string, state_time: string, tsr: string, sname: string, CallCenterID: string, agent_group: string, state_name: string, login_datetime: string, logout_datetime: string, Login_Event: string, duration: string]

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(call_date='2024-03-08', state_time='00:00:00', tsr='edu_aayton', sname='Andre Ayton', CallCenterID='17', agent_group='IA', state_name='Agent Reset', login_datetime=None, logout_datetime=None, Login_Event='1', duration='19578'),
 Row(call_date='2024-03-08', state_time='00:00:00', tsr='edu_apolanco', sname='Ariel Polanco', CallCenterID='17', agent_group='IA', state_name='End Shift', login_datetime=None, logout_datetime=None, Login_Event='1', duration='17251'),
 Row(call_date='2024-03-08', state_time='00:00:00', tsr='edu_devwilliams', sname='Devontay Williams', CallCenterID='17', agent_group='IA', state_name='Agent Reset', login_datetime=None, logout_datetime=None, Login_Event='1', duration='18631')]

In [ ]:
df_pyspark.printSchema()

root
 |-- call_date: date (nullable = true)
 |-- state_time: timestamp (nullable = true)
 |-- tsr: string (nullable = true)
 |-- sname: string (nullable = true)
 |-- CallCenterID: integer (nullable = true)
 |-- agent_group: string (nullable = true)
 |-- state_name: string (nullable = true)
 |-- login_datetime: string (nullable = true)
 |-- logout_datetime: string (nullable = true)
 |-- Login_Event: integer (nullable = true)
 |-- duration: integer (nullable = true)

In [ ]:
df_pyspark.columns

['call_date',
 'state_time',
 'tsr',
 'sname',
 'CallCenterID',
 'agent_group',
 'state_name',
 'login_datetime',
 'logout_datetime',
 'Login_Event',
 'duration']

In [ ]:
df_pyspark.select('call_date').show()

+----------+
| call_date|
+----------+
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
|2024-03-08|
+----------+
only showing top 20 rows

In [ ]:
df_pyspark.select(['call_date', 'tsr']).show()

+----------+---------------+
| call_date|            tsr|
+----------+---------------+
|2024-03-08|     edu_aayton|
|2024-03-08|   edu_apolanco|
|2024-03-08|edu_devwilliams|
|2024-03-08|    edu_dgarcia|
|2024-03-08|    edu_fdennis|
|2024-03-08|     edu_gallen|
|2024-03-08|      edu_ghall|
|2024-03-08| edu_glanzafame|
|2024-03-08|    edu_idabney|
|2024-03-08|     edu_kcline|
|2024-03-08|    edu_klackey|
|2024-03-08|   edu_kmangold|
|2024-03-08|  edu_kplaisted|
|2024-03-08|    edu_pmorgan|
|2024-03-08|    edu_rgamble|
|2024-03-08|   edu_rthweatt|
|2024-03-08|   edu_ssignori|
|2024-03-08|   edu_tpaschka|
|2024-03-08|     edu_tspain|
|2024-03-08|   edu_yjohnson|
+----------+---------------+
only showing top 20 rows

In [ ]:
df_pyspark.dtypes

[('call_date', 'date'),
 ('state_time', 'timestamp'),
 ('tsr', 'string'),
 ('sname', 'string'),
 ('CallCenterID', 'int'),
 ('agent_group', 'string'),
 ('state_name', 'string'),
 ('login_datetime', 'string'),
 ('logout_datetime', 'string'),
 ('Login_Event', 'int'),
 ('duration', 'int')]

In [ ]:
df_pyspark.describe()

DataFrame[summary: string, tsr: string, sname: string, CallCenterID: string, agent_group: string, state_name: string, login_datetime: string, logout_datetime: string, Login_Event: string, duration: string]

In [ ]:
df_pyspark.describe().show()

+-------+--------------+---------------+-----------------+-----------+---------------+--------------+---------------+--------------------+------------------+
|summary|           tsr|          sname|     CallCenterID|agent_group|     state_name|login_datetime|logout_datetime|         Login_Event|          duration|
+-------+--------------+---------------+-----------------+-----------+---------------+--------------+---------------+--------------------+------------------+
|  count|          2522|           2522|             2522|       2522|           2522|             0|              0|                2522|              2522|
|   mean|          NULL|           NULL|34.04044409199049|       NULL|           NULL|          NULL|           NULL|0.017446471054718478| 239.4888977002379|
| stddev|          NULL|           NULL|25.19576564400042|       NULL|           NULL|          NULL|           NULL| 0.13095377589629223|2023.8398346692222|
|    min|EGS_EF_echavez|    Adam Wright|               17|     BPO_EF|After Call Work|          NULL|           NULL|                   0|                 0|
|    max|  edu_yjohnson|Yasmine Johnson|               72|      LX_IA|        Ringing|          NULL|           NULL|                   1|             20392|
+-------+--------------+---------------+-----------------+-----------+---------------+--------------+---------------+--------------------+------------------+

In [ ]:
## add columns to dataframe

In [ ]:
df_pyspark = df_pyspark.withColumn('CallCenterID_Plus2', df_pyspark['CallCenterID'] + 2)

In [ ]:
df_pyspark.show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+------------------+
| call_date|         state_time|            tsr|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|CallCenterID_Plus2|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+------------------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|                19|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|                19|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|                19|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|                19|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|                19|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|                19|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|                19|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|                19|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|                19|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|                19|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+------------------+
only showing top 10 rows

In [ ]:
df_pyspark = df_pyspark.drop('CallCenterID_Plus2')

In [ ]:
df_pyspark.show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|            tsr|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
## rename column
df_pyspark = df_pyspark.withColumnRenamed('tsr', 'agentid')

In [ ]:
df_pyspark.show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
## drops all rows with a null value
df_pyspark.na.drop().show()

+---------+----------+-------+-----+------------+-----------+----------+--------------+---------------+-----------+--------+
|call_date|state_time|agentid|sname|CallCenterID|agent_group|state_name|login_datetime|logout_datetime|Login_Event|duration|
+---------+----------+-------+-----+------------+-----------+----------+--------------+---------------+-----------+--------+
+---------+----------+-------+-----+------------+-----------+----------+--------------+---------------+-----------+--------+

In [ ]:
# drops all rows with a null value
# how=any will drop row if any value is null
# how=all will drop row if all column values are null

# df_pyspark.na.drop().show() #defalut is "any"
df_pyspark.na.drop(how='all').show()

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
|2024-03-08|2024-04-05 00:00:00|    edu_klackey|       Keith Lackey|          17|         IA|  End Shift|          NULL|           NULL|          1|   18575|
|2024-03-08|2024-04-05 00:00:00|   edu_kmangold|      Kelly Mangold|          17|         IA|  End Shift|          NULL|           NULL|          1|   20392|
|2024-03-08|2024-04-05 00:00:00|  edu_kplaisted|      Kent Plaisted|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18836|
|2024-03-08|2024-04-05 00:00:00|    edu_pmorgan|    PetaGaye Morgan|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17899|
|2024-03-08|2024-04-05 00:00:00|    edu_rgamble|       Rocio Gamble|          17|         IA|Agent Reset|          NULL|           NULL|          1|   20288|
|2024-03-08|2024-04-05 00:00:00|   edu_rthweatt|     Robert Thweatt|          17|         IA|  End Shift|          NULL|           NULL|          1|   18041|
|2024-03-08|2024-04-05 00:00:00|   edu_ssignori|   Santiago Singori|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19700|
|2024-03-08|2024-04-05 00:00:00|   edu_tpaschka|     Tracey Paschka|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17199|
|2024-03-08|2024-04-05 00:00:00|     edu_tspain|       Tommie Spain|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18288|
|2024-03-08|2024-04-05 00:00:00|   edu_yjohnson|    Yasmine Johnson|          17|         IA|  End Shift|          NULL|           NULL|          1|   17624|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 20 rows

In [ ]:
# threshold

df_pyspark.na.drop(how = 'all', thresh = 2).show()  # thresh at least 2 non-null values must be present

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
|2024-03-08|2024-04-05 00:00:00|    edu_klackey|       Keith Lackey|          17|         IA|  End Shift|          NULL|           NULL|          1|   18575|
|2024-03-08|2024-04-05 00:00:00|   edu_kmangold|      Kelly Mangold|          17|         IA|  End Shift|          NULL|           NULL|          1|   20392|
|2024-03-08|2024-04-05 00:00:00|  edu_kplaisted|      Kent Plaisted|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18836|
|2024-03-08|2024-04-05 00:00:00|    edu_pmorgan|    PetaGaye Morgan|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17899|
|2024-03-08|2024-04-05 00:00:00|    edu_rgamble|       Rocio Gamble|          17|         IA|Agent Reset|          NULL|           NULL|          1|   20288|
|2024-03-08|2024-04-05 00:00:00|   edu_rthweatt|     Robert Thweatt|          17|         IA|  End Shift|          NULL|           NULL|          1|   18041|
|2024-03-08|2024-04-05 00:00:00|   edu_ssignori|   Santiago Singori|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19700|
|2024-03-08|2024-04-05 00:00:00|   edu_tpaschka|     Tracey Paschka|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17199|
|2024-03-08|2024-04-05 00:00:00|     edu_tspain|       Tommie Spain|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18288|
|2024-03-08|2024-04-05 00:00:00|   edu_yjohnson|    Yasmine Johnson|          17|         IA|  End Shift|          NULL|           NULL|          1|   17624|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 20 rows

In [ ]:
# subset, to chose what column to check for nulls

df_pyspark.na.drop(how = 'all', subset = ['login_datetime']).show()

+---------+----------+-------+-----+------------+-----------+----------+--------------+---------------+-----------+--------+
|call_date|state_time|agentid|sname|CallCenterID|agent_group|state_name|login_datetime|logout_datetime|Login_Event|duration|
+---------+----------+-------+-----+------------+-----------+----------+--------------+---------------+-----------+--------+
+---------+----------+-------+-----+------------+-----------+----------+--------------+---------------+-----------+--------+

In [ ]:
# fill missing or null values
# df_pyspark.na.fill('MissingValues', subset = None).show(10) # all columns with null will be filled
df_pyspark.na.fill('MissingValues', subset = ['login_datetime', 'logout_datetime']).show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset| MissingValues|  MissingValues|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift| MissingValues|  MissingValues|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset| MissingValues|  MissingValues|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout| MissingValues|  MissingValues|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset| MissingValues|  MissingValues|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset| MissingValues|  MissingValues|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift| MissingValues|  MissingValues|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset| MissingValues|  MissingValues|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset| MissingValues|  MissingValues|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift| MissingValues|  MissingValues|          1|   17747|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
# if colunn is number to get the mean (median, etc) to fill the null or missing values
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['CallCenterID', 'Login_Event'],
    outputCols=['{}_imputed'.format(c) for c in ['CallCenterID', 'Login_Event']]
    ).setStrategy('median')

In [ ]:
# add imputation cols to dataframe
imputer.fit(df_pyspark).transform(df_pyspark).show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+--------------------+-------------------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|CallCenterID_imputed|Login_Event_imputed|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+--------------------+-------------------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|                  17|                  1|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|                  17|                  1|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+--------------------+-------------------+
only showing top 10 rows

In [ ]:
# filter dataframes

In [ ]:
df_pyspark.filter('CallCenterID>=17').show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
df_pyspark.filter('CallCenterID>=17').select(['agentid', 'sname']).show(10)

+---------------+-------------------+
|        agentid|              sname|
+---------------+-------------------+
|     edu_aayton|        Andre Ayton|
|   edu_apolanco|      Ariel Polanco|
|edu_devwilliams|  Devontay Williams|
|    edu_dgarcia|     Deborah Garcia|
|    edu_fdennis|       Frank Dennis|
|     edu_gallen|         Greg Allen|
|      edu_ghall|       Gerrard Hall|
| edu_glanzafame|Gabrielle Lanzafame|
|    edu_idabney|   Indonesia Dabney|
|     edu_kcline|        Kelly Cline|
+---------------+-------------------+
only showing top 10 rows

In [ ]:
# df_pyspark.filter((df_pyspark['CallCenterID']>=17) & (df_pyspark['CallCenterID']<=100)).show(10)
df_pyspark.filter((df_pyspark['CallCenterID']>=17) & # and
                  (df_pyspark['state_name']=='End Shift')).show(10)

+----------+-------------------+--------------+---------------+------------+-----------+----------+--------------+---------------+-----------+--------+
| call_date|         state_time|       agentid|          sname|CallCenterID|agent_group|state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+--------------+---------------+------------+-----------+----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|  edu_apolanco|  Ariel Polanco|          17|         IA| End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|     edu_ghall|   Gerrard Hall|          17|         IA| End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00|    edu_kcline|    Kelly Cline|          17|         IA| End Shift|          NULL|           NULL|          1|   17747|
|2024-03-08|2024-04-05 00:00:00|   edu_klackey|   Keith Lackey|          17|         IA| End Shift|          NULL|           NULL|          1|   18575|
|2024-03-08|2024-04-05 00:00:00|  edu_kmangold|  Kelly Mangold|          17|         IA| End Shift|          NULL|           NULL|          1|   20392|
|2024-03-08|2024-04-05 00:00:00|  edu_rthweatt| Robert Thweatt|          17|         IA| End Shift|          NULL|           NULL|          1|   18041|
|2024-03-08|2024-04-05 00:00:00|  edu_yjohnson|Yasmine Johnson|          17|         IA| End Shift|          NULL|           NULL|          1|   17624|
|2024-03-08|2024-04-05 00:00:00|EGS_EF_emagana|    Eloy Magana|          70|     BPO_EF| End Shift|          NULL|           NULL|          1|   19498|
|2024-03-08|2024-04-05 07:25:10|    edu_kcline|    Kelly Cline|          17|         IA| End Shift|          NULL|           NULL|          1|       0|
+----------+-------------------+--------------+---------------+------------+-----------+----------+--------------+---------------+-----------+--------+

In [ ]:
df_pyspark.filter((df_pyspark['CallCenterID']>=17) | # or
                  (df_pyspark['state_name']=='End Shift')).show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
# not condition
df_pyspark.filter(~(df_pyspark['CallCenterID']==17)).show(10)

+----------+-------------------+---------------+-----------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|            sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-----------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00| EGS_EF_echavez|   Eduardo Chavez|          70|     BPO_EF|Agent Reset|          NULL|           NULL|          1|   19641|
|2024-03-08|2024-04-05 00:00:00| EGS_EF_emagana|      Eloy Magana|          70|     BPO_EF|  End Shift|          NULL|           NULL|          1|   19498|
|2024-03-08|2024-04-05 00:00:00| EGS_IA_cgarcia|  Cristina Garcia|          70|      LX_IA|Agent Reset|          NULL|           NULL|          1|   19884|
|2024-03-08|2024-04-05 00:00:00|EGS_IA_mholguin|    Mario Holguin|          70|      LX_IA|Agent Reset|          NULL|           NULL|          1|   19893|
|2024-03-08|2024-04-05 00:00:00|  TS_EF_hrogers|    Harris Rogers|          72|     BPO_EF|Agent Reset|          NULL|           NULL|          1|   20072|
|2024-03-08|2024-04-05 00:00:00|    TS_EF_nhill|      Nathan Hill|          72|     BPO_EF|Agent Reset|          NULL|           NULL|          1|   19848|
|2024-03-08|2024-04-05 00:00:00|   TS_EF_nmiles|       Nate Miles|          72|     BPO_EF|Agent Reset|          NULL|           NULL|          1|   20077|
|2024-03-08|2024-04-05 00:00:00|TS_EF_psolomans|Pattrick Solomans|          72|     BPO_EF|Agent Reset|          NULL|           NULL|          1|   19939|
|2024-03-08|2024-04-05 00:00:00|TS_EF_rwilliams|   Roger Williams|          72|     BPO_EF|Agent Reset|          NULL|           NULL|          1|   19908|
|2024-03-08|2024-04-05 07:24:58| EGS_EF_emagana|      Eloy Magana|          70|     BPO_EF|  Not Ready|          NULL|           NULL|          0|     305|
+----------+-------------------+---------------+-----------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
# group by
df_pyspark.groupBy('agentid').sum().show(10)

+---------------+-----------------+----------------+-------------+
|        agentid|sum(CallCenterID)|sum(Login_Event)|sum(duration)|
+---------------+-----------------+----------------+-------------+
|TS_EF_rwilliams|             2232|               1|        20457|
|edu_devwilliams|              952|               1|        20455|
|   edu_tpaschka|             2669|               1|        20457|
|   edu_ssignori|             1190|               1|        20453|
|   edu_yjohnson|             1921|               1|        20454|
|  TS_IA_jwalker|              360|               0|          782|
|   TS_EF_nmiles|             2088|               1|        20530|
|  TS_IA_dwilson|             1224|               0|          663|
|TS_EF_psolomans|              648|               1|        20455|
|  edu_kplaisted|             1207|               1|        20454|
+---------------+-----------------+----------------+-------------+
only showing top 10 rows

In [ ]:
df_pyspark.groupBy('agentid').mean().show(10)

+---------------+-----------------+--------------------+------------------+
|        agentid|avg(CallCenterID)|    avg(Login_Event)|     avg(duration)|
+---------------+-----------------+--------------------+------------------+
|TS_EF_rwilliams|             72.0| 0.03225806451612903| 659.9032258064516|
|edu_devwilliams|             17.0|0.017857142857142856|365.26785714285717|
|   edu_tpaschka|             17.0|0.006369426751592357|130.29936305732485|
|   edu_ssignori|             17.0|0.014285714285714285| 292.1857142857143|
|   edu_yjohnson|             17.0|0.008849557522123894|181.00884955752213|
|  TS_IA_jwalker|             72.0|                 0.0|             156.4|
|   TS_EF_nmiles|             72.0|0.034482758620689655| 707.9310344827586|
|  TS_IA_dwilson|             72.0|                 0.0|              39.0|
|TS_EF_psolomans|             72.0|  0.1111111111111111| 2272.777777777778|
|  edu_kplaisted|             17.0|0.014084507042253521| 288.0845070422535|
+---------------+-----------------+--------------------+------------------+
only showing top 10 rows

In [ ]:
df_pyspark.groupBy('agentid').max().show(10)

In [ ]:
df_pyspark.groupBy('agentid').count().show(10)

+---------------+-----+
|        agentid|count|
+---------------+-----+
|TS_EF_rwilliams|   31|
|edu_devwilliams|   56|
|   edu_tpaschka|  157|
|   edu_ssignori|   70|
|   edu_yjohnson|  113|
|  TS_IA_jwalker|    5|
|   TS_EF_nmiles|   29|
|  TS_IA_dwilson|   17|
|TS_EF_psolomans|    9|
|  edu_kplaisted|   71|
+---------------+-----+
only showing top 10 rows

In [ ]:
df_pyspark.agg({'duration' : 'sum'}).show(10)

+-------------+
|sum(duration)|
+-------------+
|       603991|
+-------------+

In [ ]:
training = df_pyspark

In [ ]:
training.show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+
only showing top 10 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['CallCenterID', 'duration'], outputCol='IndependentFeature')

In [ ]:
output = featureassembler.transform(training)

In [ ]:
output.show(10)

+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+------------------+
| call_date|         state_time|        agentid|              sname|CallCenterID|agent_group| state_name|login_datetime|logout_datetime|Login_Event|duration|IndependentFeature|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+------------------+
|2024-03-08|2024-04-05 00:00:00|     edu_aayton|        Andre Ayton|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19578|    [17.0,19578.0]|
|2024-03-08|2024-04-05 00:00:00|   edu_apolanco|      Ariel Polanco|          17|         IA|  End Shift|          NULL|           NULL|          1|   17251|    [17.0,17251.0]|
|2024-03-08|2024-04-05 00:00:00|edu_devwilliams|  Devontay Williams|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18631|    [17.0,18631.0]|
|2024-03-08|2024-04-05 00:00:00|    edu_dgarcia|     Deborah Garcia|          17|         IA|     Logout|          NULL|           NULL|          1|   18049|    [17.0,18049.0]|
|2024-03-08|2024-04-05 00:00:00|    edu_fdennis|       Frank Dennis|          17|         IA|Agent Reset|          NULL|           NULL|          1|   18497|    [17.0,18497.0]|
|2024-03-08|2024-04-05 00:00:00|     edu_gallen|         Greg Allen|          17|         IA|Agent Reset|          NULL|           NULL|          1|   16785|    [17.0,16785.0]|
|2024-03-08|2024-04-05 00:00:00|      edu_ghall|       Gerrard Hall|          17|         IA|  End Shift|          NULL|           NULL|          1|   20053|    [17.0,20053.0]|
|2024-03-08|2024-04-05 00:00:00| edu_glanzafame|Gabrielle Lanzafame|          17|         IA|Agent Reset|          NULL|           NULL|          1|   17729|    [17.0,17729.0]|
|2024-03-08|2024-04-05 00:00:00|    edu_idabney|   Indonesia Dabney|          17|         IA|Agent Reset|          NULL|           NULL|          1|   19892|    [17.0,19892.0]|
|2024-03-08|2024-04-05 00:00:00|     edu_kcline|        Kelly Cline|          17|         IA|  End Shift|          NULL|           NULL|          1|   17747|    [17.0,17747.0]|
+----------+-------------------+---------------+-------------------+------------+-----------+-----------+--------------+---------------+-----------+--------+------------------+
only showing top 10 rows

In [ ]:
finalized_data = output.select('IndependentFeature', 'duration')

In [ ]:
finalized_data.show(10)

+------------------+--------+
|IndependentFeature|duration|
+------------------+--------+
|    [17.0,19578.0]|   19578|
|    [17.0,17251.0]|   17251|
|    [17.0,18631.0]|   18631|
|    [17.0,18049.0]|   18049|
|    [17.0,18497.0]|   18497|
|    [17.0,16785.0]|   16785|
|    [17.0,20053.0]|   20053|
|    [17.0,17729.0]|   17729|
|    [17.0,19892.0]|   19892|
|    [17.0,17747.0]|   17747|
+------------------+--------+
only showing top 10 rows

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data, test_data=finalized_data.randomSplit([0.75, 0.25])
regressor=LinearRegression(featuresCol='IndependentFeature', labelCol='duration')
regressor=regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([-0.0, 1.0])

In [ ]:
regressor.intercept

7.986213663626017e-14

In [ ]:
# prediction
pred_results=regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show(10)

+------------------+--------+--------------------+
|IndependentFeature|duration|          prediction|
+------------------+--------+--------------------+
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
|        [17.0,0.0]|       0|5.704391346474898...|
+------------------+--------+--------------------+
only showing top 10 rows

In [ ]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(4.320277299895059e-14, 2.2611343561660863e-27)